/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './stylesm3-theme.scss' as klubiq-theme;

@include mat.core();

$darkTheme: klubiq-theme.$dark-theme;
$lightTheme: klubiq-theme.$light-theme;
html {
  body {
  @include mat.all-component-themes($lightTheme);
  //@include mat.all-component-colors($darkTheme);
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    mat-sidenav {
      @include mat.all-component-colors($darkTheme);

    }
  }

}



