*,
:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark {
  background-color: #0D0D0D;
}
body.light {
  background-color: #F3F6F8;
}

.th-preloader {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.logo-loader {
  width: 100px;
  height: 100px;
  animation: pulse 1.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}